/*
    Author: Mariam Maria
    Theme: Foodie's order
*/
/*css for login*/
.login{
    background-color: FFF8E3;
    padding: 7%;
}
*{
    margin:  0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 3%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tbl-50{
    width: 50%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: 638889;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: D4E7C5;
}
.btn-secondary{
    background-color: 99BC85;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: D4E7C5;
}

.btn-danger{
    background-color: 803D3B;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #b85955;
}
/* css for menu */

.menu{
    background-color: #F5EEE6;
    font-size: larger;
}

.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: 153448;
}

.menu ul li a:hover{
    color: 3C5B6F;
}

.success{
    color: green;
    font-weight: bold;
}
.error{
    color: red;
    font-weight: bold;
}

/* css for main content */
.main-content{
    background-color: #FFF8E3;
    padding: 0%;


}
.col-4{
    width: 14%;
    background-color: D1BB9E ;
    margin : 1%;
    padding: 2%;
    float: left;
}


/* css for footer */
.footer{
    background-color: 638889;
    color: white;
    text-decoration-color: white;
}
/*text box size*/
.wide-input {
    width: 150px; /* Adjust width as needed */
    height: 25px;
}
